<a href="https://colab.research.google.com/github/yashsuthar00/Machine-learning/blob/main/basic_python(13%2C14_06_2024).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=22
b=2.5
print(a)
print(type(a))

22
<class 'int'>

In [ ]:
a=2
b=3
print(a+b)

5

In [ ]:
a=22
b=2
print("Before swap a=",a,"b=",b)
b,a=a,b
print("After swap a=",a,"b=",b)

Before swap a= 22 b= 2
After swap a= 2 b= 22

In [ ]:
a= int(input("Enter no: "))
b= int(input("Enter no2 "))
print("Add =", a+b)

Enter no: 22
Enter no2 21
Add = 43

In [ ]:
a= int(input("Enter no1: "))
b= int(input("Enter no2: "))
print("Adition =", a+b)
print("Substraction= ", a-b)
print("Multiplication= ",a*b)
print("division= ",a/b)

Enter no1: 10
Enter no2: 5
Adition = 15
Substraction=  5
Multiplication=  50
division=  2.0

In [ ]:
print((int(input("Enter no1: ")) * (input("Enter no2: "))))

Enter no1: 5
Enter no2: yash
yashyashyashyashyash

In [ ]:
print(22/2)
print(22//2)
print(23/2)
print(23//2)

11.0
11
11.5
11

In [ ]:
print(2*5)
print(2**5)

10
32

In [ ]:
a = int(input("Enter no1."))
b = int(input("Enter no2."))

if a>b:
  print("No1 is greater")
elif b>a:
  print("No2 is greater")
else:
  print("Both are equal")

Enter no1.5
Enter no2.5
Both are equal

In [ ]:
value = int(input("Enter value between 1 to 3\n"))

if value == 1:
  print("Sandwich")
elif value == 2:
  print("Pizza")
elif value == 3:
  print("Vadapav")
else:
  print("Enter valid value")

Enter value between 1 to 3
2
Pizza

In [ ]:
value = int(input("Enter value between 1 to 3\n"))

if value == 1:
  print("Sandwich")
  qty = int(input("Enter the quentity\n"))
  print("Bill = ", qty*100)
elif value == 2:
  print("Pizza")
  qty = int(input("Enter the quentity\n"))
  print("Bill = ", qty*200)
elif value == 3:
  print("Vadapav")
  qty = int(input("Enter the quentity\n"))
  print("Bill = ", qty*50)
else:
  print("Enter valid value")

Enter value between 1 to 3
3
Vadapav
Enter the quentity
10
Bill =  500

In [ ]:
for i in range(20,1,-1):
  print("hi", i)

hi 20
hi 19
hi 18
hi 17
hi 16
hi 15
hi 14
hi 13
hi 12
hi 11
hi 10
hi 9
hi 8
hi 7
hi 6
hi 5
hi 4
hi 3
hi 2

In [ ]:
n=int(input("Enter no: "))
for i in range(1,n+1):
  if i % 2==0:
    print(i, "is even")
  else:
    print(i, "is odd")

Enter no: 5
1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [ ]:
list1 = [1,2,3,4]
print(list1)
print(max(list1))
print(min(list1))
print(sum(list1))
print(len(list1))

[1, 2, 3, 4]
4
1
10
4

In [ ]:
list2 = [11,23,44,56,77,34]
for x in list2:
  if x>15:
    print(x)

23
44
56
77
34

In [ ]:
list3 = [11,23,44,56,77,34]
for x in list3:
  if x%2==0:
    print(x, "is even")
  else:
    print(x, "is odd")

11 is odd
23 is odd
44 is even
56 is even
77 is odd
34 is even

In [ ]:
set1={11,22,33,44,55}
set2={1,2,3}
set3={11,22,44,99,88,77}
set4={11,22}
print(set1)
print("=======intersection========")
print(set1.intersection(set2))
print(set1.intersection(set3))
print(set1.intersection(set4))
print("=======union========")
print(set1.union(set2))
print(set1.union(set3))
print(set1.union(set4))
print("=======difference========")
print(set1-set3)
print(set3-set1)
print("=======superset========")
print(set1.issuperset(set2))
print(set1.issuperset(set3))
print(set1.issuperset(set4))
print(set2.issuperset(set1))
print(set3.issuperset(set1))
print(set4.issuperset(set1))

print("=======disjoint set========")
print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))
print(set1.isdisjoint(set4))

{33, 22, 55, 11, 44}
=======intersection========
set()
{11, 44, 22}
{11, 22}
=======union========
{33, 1, 2, 3, 22, 55, 11, 44}
{33, 99, 11, 44, 77, 22, 55, 88}
{33, 22, 55, 11, 44}
=======difference========
{33, 55}
{88, 99, 77}
=======superset========
False
False
True
False
False
False
=======disjoint set========
True
False
False

In [ ]:
t1=(11,22,33,44,55)
print(t1)
for x in t1:
  if x%2==0:
    print(x, "is even")
  else:
    print(x, "is odd")

(11, 22, 33, 44, 55)
11 is odd
22 is even
33 is odd
44 is even
55 is odd

In [ ]:
list1=[11,22,33]
list1[0]=55
print(list1)

tuple1=(11,22,33)
# tuple1[0]=55 #cannot modify values in tuple
print(tuple1)

[55, 22, 33]
(11, 22, 33)

In [ ]:
#dictionary
d1={11:"ram",22:"mohan",35:"raj",11:"simran",67:"simran"}
print(d1)

{11: 'simran', 22: 'mohan', 35: 'raj', 67: 'simran'}

In [ ]:
d1={11:"ram",22:"mohan",35:"raj",55:"simran",67:"anjli"}

for k,v in d1.items():
  print(k,v)

11 ram
22 mohan
35 raj
55 simran
67 anjli

In [ ]:
d1={11:"ram",22:"mohan",35:"raj",55:"simran",67:"anjli"}
no=int(input("Enter rollno :"))
for k,v in d1.items():
  if k>no:
    print(k,v)

Enter rollno :22
35 raj
55 simran
67 anjli

In [ ]:
e1={11:20000,12:30000,14:12000,15:22000,16:9000,17:18000,18:25000,19:7000}

print(e1)

rollNo = int(input("Enter roll no: "))
for k,v in e1.items():
  if k==rollNo:
    print(k,v)

salary = int(input("Enter salary: "))
for k,v in e1.items():
  if v>salary:
    print(k,v)

{11: 20000, 12: 30000, 14: 12000, 15: 22000, 16: 9000, 17: 18000, 18: 25000, 19: 7000}
Enter roll no: 15
15 22000
Enter salary: 10000
11 20000
12 30000
14 12000
15 22000
17 18000
18 25000

In [ ]:
#function
def add():
  a=int(input("Enter no1: "))
  b=int(input("Enter no2: "))
  print("Add = ",a+b)

def posneg():
  a=int(input("Enter no: "))
  if a>0:
    print("Number is positive")
  else:
    print("Number is negative")

add()
posneg()

Enter no1: 12
Enter no2: 13
Add =  25
Enter no: 1
Number is positive

In [ ]:
def table():
  a=int(input("Enter no: "))

  for i in range(1,11):
    print(a,"x",i,"=",a*i)

def power():
  b = int(input("Enter base: "))
  c = int(input("Enter power: "))
  print(b**c)

table()
power()

Enter no: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Enter base: 2
Enter power: 3
8

In [ ]:
def add(a,b,c,d=0):
  print("Add = ",a+b+c+d)

add(1,2,3)
add(1,2,3,4)

Add =  6
Add =  10

In [ ]:
def pw(x,y=2):
  print(x**y)
pw(7)
pw(2,5)

49
32

In [ ]:
def pdata(a,b="*"):
  print(a*b)
pdata(5)
pdata(30,"z")

*****
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzz

In [ ]:
def pdata(a,b=9):
  print(a*b)
pdata("*")
pdata("m",35)

*********
mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm

In [ ]:
import random
y=random.randint(1,30)
print(y)

13

In [ ]:
import random
correct = 0
wrong = 0
for i in range(1,6):

  x=random.randint(1,30)
  y=random.randint(1,30)
  print("No1 = ",x,"No2 = ",y)
  n=int(input("Enter Addition = "))

  if n==x+y:
    correct+=1
  else:
    wrong+=1
print("Total Correct = ",correct,"\nTotal InCorrect = ",wrong)

No1 =  29 No2 =  22
Enter Addition = 51
No1 =  13 No2 =  12
Enter Addition = 25
No1 =  22 No2 =  22
Enter Addition = 44
No1 =  25 No2 =  10
Enter Addition = 35
No1 =  1 No2 =  9
Enter Addition = 10
Total Correct =  5
Total InCorrect =  0

In [ ]:
f1=open("/content/yash.txt","r")

while True:
  ch = f1.read(1)
  if not ch:
    break
  print(ch)
f1.close()

h
e
l
l
o

y
a
s
h


n
i
c
e

t
o

s
e
e

y
o
u
r

c
o
d
e

w
o
r
k
e
d

In [ ]:
f1 = open("/content/yash.txt", "r")
vowels = 0
while True:
  ch = f1.read(1)
  if not ch:
    break
  if ch in "aeiouAEIOU":
    vowels += 1
print("Number of vowels = ",vowels)
f1.close()

Number of vowels =  14

In [ ]:
f1 = open("/content/yash.txt", "r")
while True:
  ch = f1.read(1)
  if not ch:
    break
  if ch == "a" or ch=="e" or ch=="i" or ch=="o" or ch=="u":
    print(ch)
f1.close()

e
o
a
i
e
o
e
e
o
u
o
e
o
e

In [ ]:
f1 = open("/content/yash.txt", "r")

while True:
  ch = f1.read(1)
  if not ch:
    break
  if ch == "a" or ch=="e" or ch=="i" or ch=="o" or ch=="u":
    print("7")
  else:
    print(ch)
f1.close()

r
7
j
7

In [ ]:
f1 = open("/content/yash.txt", "r")
while True:
  ch=f1.read(1)
  if not ch:
    break
  if ch==" ":
    # ch=ch.replace(" ","")
    c=c+1
    if c==1:
      print(ch,end="")
    else:
      print(ch,end="")
      c=0
f1.close()

In [86]:
#write a code which convert first character in upper case after blank space.
f1 = open("/content/yash.txt", "r")
ch1=""
length = 0
while True:
  ch=f1.read(1)
  if not ch:
    break
  if ch==" ":
    ch1+=ch
    length=len(ch1)
  else:
    ch1+=ch

print(ch1[length].upper())
f1.close()




# ch1 =""
# while True:
#   ch=f1.read(1)
#   if not ch:
#     break
#   else:
#     ch1+=ch
#     if ch1[-1]==" ":
#       ch1+=ch.upper()
#   print(ch1)



#   elif ch==" "+ch:
#     print(" ")
#   else:
#     print(ch)

# def upcase(ch):
#   return ch.upper()
# f1.close()

S

In [ ]:
y = "yash "
print(len(y))

5

Part of Textual Data -Elements of Text

1: Hierarchy of Text- No of words, no of alphabets

2: Tokens -words


3: vocabulary-noun, pronouns

4: punctuation

5: part of speech

6: root of word

7: base of word

8: stop word

9: prefix, suffix, infix, exception