<a href="https://colab.research.google.com/github/yashsuthar00/Machine-learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# Pandas
```

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%config IPCompleter.greedy=True
import warnings
warnings.filterwarnings("ignore")
df =pd.read_csv("drive/My Drive/ML Workshop/tips.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Inspect the data

In [ ]:
# Inspect data
print(df.head())

   total_bill   tip  gender smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Tue   Lunch     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       23.68  3.31    Male     No  Sun  Dinner     2

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  9 non-null      float64
 1   tip         8 non-null      float64
 2   gender      9 non-null      object
 3   smoker      9 non-null      object
 4   day         9 non-null      object
 5   time        8 non-null      object
 6   size        9 non-null      int64
dtypes: float64(2), int64(1), object(4)
memory usage: 632.0+ bytes
None

In [ ]:
print(df.describe())

       total_bill      tip      size
count    9.000000  8.00000  9.000000
mean    18.896667  2.64750  2.444444
std      6.433465  0.95588  0.726483
min      8.770000  1.01000  2.000000
25%     15.040000  1.88500  2.000000
50%     21.010000  3.21500  2.000000
75%     23.680000  3.31000  3.000000
max     26.880000  3.50000  4.000000

# Null Value Checking

In [ ]:
# Check for null values
print(df.isnull())  # Returns DataFrame with True/False for nulls

   total_bill    tip  gender  smoker    day   time   size
0       False  False   False   False  False  False  False
1       False  False   False   False  False  False  False
2       False  False   False   False  False  False  False
3       False  False   False   False  False  False  False
4       False  False   False   False  False  False  False
5       False  False   False   False  False  False  False
6       False   True   False   False  False   True  False
7       False  False   False   False  False  False  False
8       False  False   False   False  False  False  False

In [ ]:
print(df.isnull().sum())  # Returns count of nulls in each column

total_bill    0
tip           1
gender        0
smoker        0
day           0
time          1
size          0
dtype: int64

In [ ]:
print(df.isnull().any())  # Checks if any nulls are present in each column

total_bill    False
tip            True
gender        False
smoker        False
day           False
time           True
size          False
dtype: bool

In [ ]:
print(df.isnull().sum().sum())  # Total number of null values in the DataFrame

2

# Data Cleaning

In [ ]:
df1 = df
df1 = df1.dropna()  # Drop rows with missing values

In [ ]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 0 to 8
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  8 non-null      float64
 1   tip         8 non-null      float64
 2   gender      8 non-null      object
 3   smoker      8 non-null      object
 4   day         8 non-null      object
 5   time        8 non-null      object
 6   size        8 non-null      int64
dtypes: float64(2), int64(1), object(4)
memory usage: 512.0+ bytes
None

# Drop Duplicate Rows

In [ ]:
df1 = df1.drop_duplicates()  # Remove duplicate rows

In [ ]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 8
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  6 non-null      float64
 1   tip         6 non-null      float64
 2   gender      6 non-null      object
 3   smoker      6 non-null      object
 4   day         6 non-null      object
 5   time        6 non-null      object
 6   size        6 non-null      int64
dtypes: float64(2), int64(1), object(4)
memory usage: 384.0+ bytes
None

# Drop Column

In [ ]:
# Data selection
X = df1.drop('time', axis=1)
y = df1['time']

In [ ]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 8
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  6 non-null      float64
 1   tip         6 non-null      float64
 2   gender      6 non-null      object
 3   smoker      6 non-null      object
 4   day         6 non-null      object
 5   size        6 non-null      int64
dtypes: float64(2), int64(1), object(3)
memory usage: 336.0+ bytes
None

# Fill Specified Values in null

In [ ]:
df_filled = df.fillna(5)

In [ ]:
print(df_filled.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  9 non-null      float64
 1   tip         9 non-null      float64
 2   gender      9 non-null      object
 3   smoker      9 non-null      object
 4   day         9 non-null      object
 5   time        9 non-null      object
 6   size        9 non-null      int64
dtypes: float64(2), int64(1), object(4)
memory usage: 632.0+ bytes
None

# Replace Value

In [ ]:
print(df.head(10))

   total_bill   tip  gender smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Tue   Lunch     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       23.68  3.31    Male     No  Sun  Dinner     2
5       23.68  3.31    Male     No  Sun  Dinner     2
6        8.77   NaN    Male     No  Sun     NaN     2
7       26.88  3.12    Male     No  Sun   Lunch     4
8       15.04  1.96    Male     No  Sun  Dinner     2

In [ ]:
ndf = df.replace(3.31, 25)
print(ndf.head(10))

   total_bill    tip  gender smoker  day    time  size
0       16.99   1.01  Female     No  Sun  Dinner     2
1       10.34   1.66    Male     No  Sun  Dinner     3
2       21.01   3.50    Male     No  Tue   Lunch     3
3       23.68  25.00    Male     No  Sun  Dinner     2
4       23.68  25.00    Male     No  Sun  Dinner     2
5       23.68  25.00    Male     No  Sun  Dinner     2
6        8.77    NaN    Male     No  Sun     NaN     2
7       26.88   3.12    Male     No  Sun   Lunch     4
8       15.04   1.96    Male     No  Sun  Dinner     2

# Select Column

In [ ]:
df['day']

0    Sun
1    Sun
2    Tue
3    Sun
4    Sun
5    Sun
6    Sun
7    Sun
8    Sun
Name: day, dtype: object

Select Multiple Columns

In [ ]:
# df[['col1', 'col2']]: Selects multiple columns.

df[['day','tip']]

   day   tip
0  Sun  1.01
1  Sun  1.66
2  Tue  3.50
3  Sun  3.31
4  Sun  3.31
5  Sun  3.31
6  Sun   NaN
7  Sun  3.12
8  Sun  1.96

Accesses  rows and columns by labels

In [ ]:
# df.loc[row_label, column_label]
df.loc[2, 'total_bill']

21.01

Accesses a group of rows and columns by integer position.

In [ ]:
# df.iloc[row_index, column_index]
df.iloc[4, 3]

'No'